import main.css
import custom-colors.css


/* index.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.order-button {
    /* background-color: #4CAF50; */
    background-color: transparent;
    color: black;
    padding: 5px 15px;
    margin: 0px 0;
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
    /* width: 100%; */
    width: auto;
}

.order-button:active,
.order-button.active {
    border-bottom: 2px solid #e0a722; /* Bottom border when active */
    background-color: #ffffff; /* Highlight color when active */
}
.slider-controller .swiper-button-prev, .swiper-button-prev .slider-arrow{
    /* color: #eeb020; */
    color: #eeb020;
}


/* .slider-controller .swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets .swiper-pagination-bullet-active{
    color: #eeb020;
    background-color: #eeb020;
} */

.slider-controller .swiper-pagination  .swiper-pagination-bullet-active{
  /* color: #eeb020; */
  background-color: #eeb020;
}


.slider-controller .swiper-button-next, .swiper-button-next .slider-arrow{
  /* color: #AE8625; */
  color: #eeb020;
}

.order-item {
    /* list-style-type: none; */
    width: 100%;
    margin: 5;
    padding: 10;
    /* display: inline-block; */
    display: block;
}

.sash-color-gold{
    width: 53px;
    height: 53px;
    border-radius: 13px;
    border: 0px;
    background: linear-gradient(to right, #ffd900, #dda714);
}.sash-color-blue{
    width: 53px;
    height: 53px;
    border-radius: 13px;
    border: 0px;
    background: linear-gradient(to right, #0000FF, #87CEEB); /* Blue gradient */
}.sash-color-maroon{
    width: 53px;
    height: 53px;
    border-radius: 13px;
    border: 0px;
    background: linear-gradient(to right, #b90404, #B03060); /* Maroon gradient */
}.sash-color-white{
    width: 53px;
    height: 53px;
    border-radius: 13px;
    border: 0px;
    background: linear-gradient(to right, #FFFFFF, #F0F0F0); /* White gradient */
}.sash-color-black{
    width: 53px;
    height: 53px;
    border-radius: 13px;
    border: 0px;
    background: linear-gradient(to right, #000000, #434343); /* Black gradient */
}.sash-color-baby-pink  {
  width: 53px;
  height: 53px;
  border-radius: 13px;
  border: 0px;
  background: linear-gradient(to right, #f6a6bb, #ef6c94); /* Black gradient */
}

.sash-button:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
    /* border: 2px solid #000000; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.sash-button.active {
    /* border-bottom: 2px solid #e0a722;  */
    border: 5px solid #ffb300; /* Bottom border when active */
    background-color: #ffffff; 
    
}


.foot-button-prev{
    background-color: transparent;
    color: #AE8625;
    border-radius: 9px;
    border: 2px solid #AE8625;
    width: 100px;
    height: 30px;
}

.foot-button-next{
    background-color: #AE8625;
    color: white;
    border-radius: 9px;
    border: 0px;
    width: 100px;
    height: 30px;
}

.button-disabled{
    /* background-color: #534a36; */
    color: #cab991;
    border-radius: 9px;
    border: 2px solid#cab991;
    width: 100px;
    height: 30px;
}

.progress-bar{
    width: 25%;
    height: 10px;
    background-color: rgb(0, 0, 0);
    
}



@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }







/* .form-group{

} */


.active-link {
    border-bottom: 2px solid #AE8625; /* Change the color and width as needed */
}




.tag-fade {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.tag-image:hover::after {
    opacity: 0.5; /* Adjust the opacity as needed */
}

/* input[type="text"]{
    font: 15px/24px 'Muli', 
    sans-serif; 
    color: #333; 
    width: auto; 
    box-sizing: border-box; 
    letter-spacing: 1px;} */

    :focus{outline: none;}



  /* Styling for laptops and larger devices */
  @media (min-width: 1024px) {
    /* .navbar-container {
      padding: 1rem;
    }
    .navbar-brand img {
      width: 200px;
    } */
    .sidenav{
      display: none;
    }
    .nav-style {
      /* padding: 0.5rem; */
      background-color: rgb(0, 0, 0);
      /* display: flex; */
      /* justify-content: center; */
      /* align-items: center; */
      width: 100%;
      height: 15%;
    }

    .nav-items {
      display: none;
      display: flex-start;
      justify-content: start;
      align-items :left;
      /* justify-content: space-between; */
      /* width: 100%; */
      /* height: 100%; */
    }
    .nav-link, .dropdown-item {
      font-size: 1rem;
    }

    .logoWhite{
        display: block;
      }
    .logoBlack{ 
        display: none;
    }
    .data-column{
      width: auto;
      height: max-content;
      margin: 10px;
      /* display: -ms-inline-flexbox; */
      text-align: left;
  }

    .order-complete{
      position: absolute;
      top: 10%;
      /* left: 50%; */
      width:250px; 
      height: 70px; 
      border-radius: 12px; 
      color: #AE8625; 
      background-color: rgb(238, 238, 238);
      margin: auto;
      padding: 5px;
      animation: slideIn 0.3s forwards, fadeOut 7s 0.01s forwards;
  }

    .heroContent{
      display:  flex;; 
      flex-direction: row ;
      align-items: center ;
      width: 100%;
    }

    .backImage{
      background-size: 110%;
      padding: 30px;
      background-repeat: no-repeat; 
    }
    .main-nav{
      width: 100%;
      height: 5%;
      padding: 0px;
    }
    .cta2Button{
      display: block;
    }
    .heroMainText p{
      font-size: 70px;
      font-weight:bold;
    }
    .heroMainText span{
       font-weight: lighter;
       font-size: 30px;
      margin-top: -30px;
    }
    .card1{
      background-color: black; 
      width: 100% ;
      height: auto;
      
    }
    .card1-images{
      display: flex;
      justify-content: center;
      flex-direction: row ;
    }
    .card1-image1{
      margin-top: -35px ;
      margin-left: 40px;
      margin-right: 45px;
      width:100% ; 
      height:auto ; 
      object-fit:cover;
    }    
    .card1-image2{
      margin-top: 35px ;
      /* margin-left: 45px; */
      margin-right: 45px; 
      width:100% ; 
      height:auto ; 
      object-fit:cover;
    }
    .card2Container{
      flex-direction: row;
      display: flex;
    }
    .card3Content{
      /* flex-direction: row; */
      display: flex;
      
      /* margin: 5%; */
      /* padding-top: 100px;
      padding-bottom: 50px; */
    }
    /* .card3UniImage{ */
      /* width: 100%; */
      /* height: auto; */
      /* margin-left: 0px; */
    /* } */
    .card3UniImage{
      display: none;
      /* width: 20%; */
      height: auto;
      /* margin-left: 180px; */
    }
    .card3UniImage1{
      display: flex;
      justify-content: center;
      /* width: 40%; */
      height: auto;
      margin-bottom: 30px;
      /* margin-left: 180px; */
      /* object-fit: cover; */
    }
    .card3UniImageDescr{
      text-align: center;
      display: none;
    }
    .card3Social{
      display: none;
    }
    .footerContent{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0px;
      margin: 0px;
      background-color: black;
    }
    .contactInfo {
      width: auto;
      display: flex;
      /* color: #bdbcbc; */
      /* height: 300px; */
    }
    .labels{
      font-weight: 700;
      overflow-y: auto;
      
    }
    .contactInfo p{
      width: auto;
      display: flex;
      color: #bdbcbc;
      text-align: left;
      /* height: 300px; */
    }
    .order-form{
      border: 1px solid #AE8625; 
      display: flex; 
      border-radius: 48px; 
      justify-content: center;
      width: 70%;
      height: 30rem;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;
      margin-top: 3rem;
      margin-bottom: 5rem;
      margin-right: auto;
      margin-left: auto;
      overflow: hidden;
      /* margin: 100px; */
    }
    .error{
      align-items: center;
      /* display: flex; */
      /* padding: 5px; */
      border-radius: 5px;
      text-align: center;
      /* border: 1px solid #f5c6cb; */
      color: #ee4f5f;
      /* background-color: #f8d7da; */
    }
    .tagDisplay{
      /* flex: 0 0 20%; */
      /* display: flex; */
      /* height: 20%; */
      width: 100%;
      overflow: hidden;
      justify-content: center;
      /* align-items:flex-end; */
    }
    .tag-image{
      margin-top: 0px; 
      width:auto; 
      height:auto;                   
      object-fit:contain;  
      opacity: 1; 
      border-top-left-radius: 48px;  
      border-bottom-left-radius: 48px;
    }
    .comment-section{
      height:auto;
      max-height: 500px;
      width: 250px;
      overflow-y: auto;
      resize: vertical;
    }
    
  }
  
  /* Styling for tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    .navbar-container {
      padding: 0.75rem;
    }
    .nav-style {
      /* padding: 0.5rem; */
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 10%;
    }
    .nav-items {
      display: block;
      display: flex-start;
      justify-content: start;
      align-items :left;
      /* justify-content: space-between; */
      /* width: 100%; */
      /* height: 100%; */
    }
    
    .navbar-brand img {
      width: 150px;
    }
    .nav-link, .dropdown-item {
      font-size: 0.9rem;
    }

    .logoWhite{
      display: none;
    }
    .logoBlack{ 
        display: block;
    }

    .heroContent{
      display:  flex;; 
      flex-direction: row ;
      align-items: center ;
      width: 100%;
    }
    .heroMainText p{
      font-size: 50px;
      font-weight:normal;
    }
    .heroMainText span{
       font-weight: lighter;
       font-size: 20px;
      margin-top: -30px;
    }

    .order-complete{
      position: absolute;
      top: 10%;
      /* left: 50%; */
      width:250px; 
      height: 70px; 
      border-radius: 12px; 
      color: #AE8625; 
      background-color: rgb(238, 238, 238);
      margin: auto;
      padding: 5px;
      animation: slideIn 0.3s forwards, fadeOut 7s 0.01s forwards;
     }
    .cta2Button{
      display: block;
    }
    .card1{
      background-color: black; 
      width: 100% ;
      height: auto;
      
    }
    .card1-images{
      display: flex;
      justify-content: center;
      flex-direction: row ;
    }
    .card1-image1{
      margin-top: -35px ;
      margin-left: 40px;
      margin-right: 45px;
      width:100% ; 
      height:auto ; 
      object-fit:cover;
    }    
    .card1-image2{
      margin-top: 30px ;
      /* margin-left: 45px; */
      margin-right: 45px; 
      width:100% ; 
      height:auto ; 
      object-fit:cover;
    }

    .card2Container{
      flex-direction: row;
      display: flex;
    }
    .card3Content{
      flex-direction: row;
      display: flex;
      margin: 5%;
      /* padding-top: 100px;
      padding-bottom: 50px; */
    }
    .card3UniImage{
      /* width: 100%; */
      /* height: auto; */
      margin-left: 0px;
    }
    .card3UniImage{
      display: block;
      width: 100%;
      height: auto;
      margin-left: 180px;
    }
    .card3UniImage1{
      display: none;
      width: 100%;
      height: auto;
      margin-bottom: 30px;
      /* margin-left: 180px; */
      object-fit: cover;
    }
    .card3UniImageDescr{
      text-align: center;
      display: block;
    }
    .card3Social{
      display: none;
    }
    .footerContent{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0px;
      margin: 0px;
      background-color: black;
    }
    .contactInfo {
      width: auto;
      display: flex;
      /* color: #bdbcbc; */
      /* height: 300px; */
    }
    .contactInfo p{
      width: auto;
      display: flex;
      color: #bdbcbc;
      text-align: left;
      /* height: 300px; */
    }
    .order-form{
      border: 1px solid #AE8625; 
      display: flex; 
      border-radius: 48px; 
      width: 70%;
      height: 27rem;
      justify-content: center;
      /* justify-content: space-evenly; */
      /* flex-direction: row; */
      align-items: center;
      margin-top: 3rem;
      margin-bottom: 5rem;
      margin-right: auto;
      margin-left: auto;
      /* margin: 100px; */
    }
    .data-column{
      width: auto;
      /* display: flex-start; */
      height: max-content;
      margin: 10px;
      overflow-y:visible; 
      /* display: -ms-inline-flexbox; */
      text-align: left;
    }

    .error{
      align-items: center;
      /* display: flex; */
      /* padding: 5px; */
      border-radius: 5px;
      text-align: center;
      /* border: 1px solid #f5c6cb; */
      color: #ee4f5f;
      /* background-color: #f8d7da; */
    }
    .tag-image{
      margin-top: 0px; 
      width:auto; 
      height:auto;                   
      object-fit:contain;  
      opacity: 1; 
      border-top-left-radius: 48px;  
      border-bottom-left-radius: 48px;
    }
    .labels{
      font-weight: 700;
      overflow-y: auto;
      
    }
    .comment-section{
      height:auto;
      max-height: 500px;
      width: 250px;
      overflow-y: auto;
      resize: vertical;
    }
  }
  
  /* Styling for smartphones */
  @media (max-width: 767px) {
    .sidenav {
      height: 40%; /* Full-height */
      width: 0px; /* Set the width of the sidebar */
      position: fixed; /* Fixed Sidebar (stay in place) */
      z-index: 1; /* Stay on top */
      top: 0;
      /* left: 0; */
      right: 0;
      background-color: #111; /* Black background color */
      padding-top: 20px; /* Place content 60px from the top */
      transition: 0.3s; /* Smooth transition for open/close */
    }
    
    .sidenav a {
      padding: 8px 8px 8px 8px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 36px;
      margin-left: 0px;
      margin-top: -10px;
    }
    
    #main {
      transition: margin-left .3s;
      padding: 16px;
    }
    
    /* Styling for the sidebar when it's open */
    .sidenav.open {
      width: 250px;
    }
    .nav-container {
      background-color: white; /* White background */
    } 
    
    .nav-container n {
      width: 100%;
      height: 15%;
      margin: 0px;
      padding: 0px;
      background-color: #ffffff; /* Dark background */
    }

    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }


    .nav-style {
        /* padding: 0.5rem; */
        background-color: white;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        width: 100%;
        height: 15%;
      }
      .nav-items {
        display: none;
        /* display: flex-start;
        justify-content: start;
        align-items :left; */
        /* justify-content: space-between; */
        /* width: 100%; */
        /* height: 100%; */
      }
    .navbar-brand img {
      width: 90px;
      /* content: url('../../assets/logo black.svg'); Change to the new logo */
    }

    .order-complete{
      position: absolute;
      top: 10%;
      /* left: 50%; */
      width:250px; 
      height: 70px; 
      border-radius: 12px; 
      color: #AE8625; 
      background-color: rgb(238, 238, 238);
      margin: auto;
      padding: 5px;
      animation: slideIn 0.3s forwards, fadeOut 7s 0.01s forwards;
    }
    .navbar-nav{
      display: none;
    }

    .navbar-collapse {
        background-color: #3d3d3d; /* Background color for collapsed menu */
        padding: 1rem;
        height: 100%;
      }

    .navbar-collapse {
        flex-direction: column;
        height: 100%;
        display: block;
      }
      .navbar-toggler {
        border: none;
        background-color: transparent;
      }
    
      .navbar-toggler-icon {
        color: white;
      }
    .centered-logo {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    .logoWhite{
            display: none;
          }

    .logoBlack{ 
        display: block;
        display: flex;
        /* overflow: hidden; */
        justify-content: center;
        align-items: center;
    }

    .nav-link, .dropdown-item {
      font-size: 0.85rem;
    }
    .navbar-collapse {
      background-color: #343a40;
      padding: 1rem;
    }

    .heroContent{
      display:  flex;
      flex-direction: column ;
      align-items: center ;
      /* width: 10%; */
      padding: 0px;
      /* margin-bottom: 25px; */
      /* margin: 0px; */
      position: relative;
      top: 0px;
      left: 0px;

    }
    .sashContainer{
      margin-top: 30px;
      padding-top: 30px;
      background-color: #000000;
      border-top: 15px solid #000000;
      border-bottom: 15px solid #000000;
    }
    .slider-controller{
      background-color: #000000;
    }
    .cta2Button{
      display: none;
    }
    .backImage .container-fluid{
      background-size: 150%;
      padding: 0px;
      margin: 0px;
      background-repeat: no-repeat;
    }
    .heroMainText{
      padding: 0px;
      /* margin: 0px; */
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .heroMainText p{
      font-size: 50px;
      font-weight:normal;
    }
    /* .heroMainText div span{
       font-weight: lighter;
       font-size: 20px;
      margin-top: 0px;
    } */
    .heroText{
       font-weight:normal;
       font-size:50px;
       padding: 0px;
      margin: 0px;
    }
    .tagLine{
      margin-top: -10px;
      font-weight: lighter;
      font-size: 20px;
    }
    .card1{
      background-color: black; 
      width: 100% ;
      padding-top: 50px;
      height: auto;
    }
    .card1-image1{
      margin-top: -35px ;
      margin-left: 40px;
      margin-right: 45px;
      width:100% ; 
      height:auto ; 
      object-fit:cover;
    }    
    .card1-image2{
      margin-top: 30px ;
      /* margin-left: 45px; */
      margin-right: 45px; 
      width:100% ; 
      height:auto ; 
      object-fit:cover;
    }

    .card1-scroll-container {
      overflow-x: auto; /* Enable horizontal scrolling */
      scroll-behavior: smooth; /* Smooth scrolling experience */
      white-space: nowrap; /* Prevent line breaks */
    }

    .card1-images {
      display: flex;
      width: 150%; /* Set this according to the content width */
      justify-content: flex-start; /* Align items to the start for scrolling */
      flex-direction: row;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .card1-images::-webkit-scrollbar {
      height: 8px; /* Customize scrollbar height */
    }

    .card1-images::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3); /* Scrollbar thumb color */
      border-radius: 10px;
    }

    .card1-images::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.1); /* Scrollbar track color */
    }

    .card2Container{
      flex-direction: column;
      display: flex;
      margin: 5%;
    }

    .card2Content{
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .card2Container p{
      text-align: left;
    }
    .card2Cloth{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .clothGrade{
      padding: 5px;
      margin-right: 5px;
    }
    .card2Color{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .card3Content{
      flex-direction: column;
      display: flex;
      padding: 5%;
    }
    .card3Uni{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .card3UniImage{
      display: none;
      width: 100%;
      height: auto;
      margin-left: 18px;
    }
    .card3UniImage1{
      display: flex;
      width: 100%;
      height: auto;
      margin-bottom: 30px;
      object-fit: cover;
      overflow-x: scroll;
    }
    .card3UniImageDescr{
      text-align: center;
      display: block;
    }
    .card3Social{
      display: none;
    }
    .data-column{
      width: auto;
      height: max-content;
      margin: 10px;
      overflow-y:visible; 
      overflow-x:visible; 
      text-align: left;
      flex: 1;
      max-width: 50%; 
    }
    .form-Input{
      align-items: center;
      display: flex;
      justify-content: center;
      max-width: 300px;
      margin: 0 auto;
    }


    .footerContent{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px;
      height: auto;
      background-color: black;
    }
    .footerimg{
      display: none;
    }
    .contactInfo{
      width: auto;
      display: inline-block;
      color: #bdbcbc;
      height: auto;
    }
    .footerline{
      background-color: black;
      color: white;
      margin-bottom: 20px;

    }
    .labels{
      font-weight: 700;
      overflow-y: auto;
      
    }
    .order-form{
      position: relative;
      border: 1px solid #AE8625;  
      display: flex; 
      border-radius: 30px; 
      width: 80%;
      height: 35rem;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-top: 3rem;
      margin-bottom: 5rem;
      margin-right: auto;
      margin-left: auto;
      /* flex: 1;  */
      /* overflow: hidden; */
      /* margin: 100px; */
    }

    .comment-section{
      height:auto;
      max-height: 500px;
      width: 250px;
      overflow-y: auto;
      resize: vertical;
    }

    .error{
      align-items: center;
      /* display: flex; */
      /* padding: 5px; */
      border-radius: 5px;
      text-align: center;
      /* border: 1px solid #f5c6cb; */
      color: #ee4f5f;
      /* background-color: #f8d7da; */
    }
    .tagDisplay{
      display: flex;
      position: absolute;
      top: 0;
      align-items: flex-start;
      height: 20%;
      width: 100%;
      overflow: hidden;
      border-top-left-radius: 30px;  
      border-top-right-radius: 30px;
    }
    .tag-image{
      display: flex;
      object-fit: cover;
      width: 100%; 
      height: 40%;                   
      /* opacity: 1;  */

    }
    .form-footer{
      margin-top: 20px;
      margin-bottom: 20px;
      /* display: "inline-block" */
      /* justify-content: space-evenly; */
    }
    .form-container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 25px;
      

    }
    .foot-button-next{
      margin: 1rem;
    }

    
  }
  



